{% extends 'base/base.html' %}

{% block content %}

    <h1>Детали запроса на улучшение {{ feature.title }}</h1>
    <p>{{ feature.description }}</p>

    <p><a href="{% url 'quality_control:update_feature' feature.id %}">Изменить запрос на улучшение</a></p>

    <p>
        <a href="{% url 'quality_control:delete_feature' feature.id %}"
        onclick="return confirm('Вы уверены, что хотите удалить этот запрос?')">Удалить запрос на улучшение</a>
    </p>

    <p>Статус - {{ feature.status }}</p>
    <p>Приоритет - {{ feature.priority }}</p>
    
    <p>Связанный проект - <a href="{% url 'tasks:project_detail' feature.project.id %}">{{feature.project.name}}</a></p>
    <p>Связанная задача -
        {% if feature.task %}
        <a href="{% url 'tasks:task_detail' project_id=feature.project.id task_id=feature.task.id %}">{{feature.task.name}}</a>
        {% else %}
        <a>не задана</a>
        {% endif %}
    </p>

{% endblock %}